{% include "header.html" %}
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{{ debug }}
<h5>Mikvah of Washington Heights</h5>
<form method="get" action="times">
    <div class="row form-group">
  <label for="contact" class="col-sm-3 col-form-label">Contact number</label>
  <div class="col-sm-3">
  <input name="contact" id="contact" type="tel" value="{{contact}}" class="form-control" size="15" required type="tel" placeholder="XXX-XXX-XXXX" />
  </div>
    </div>
    <div class="form-group">
  <input name="textconfirm" id="confirm_yes" type="checkbox" value="yes" class="btn-check" autocomplete="off" {% if textconfirm %}checked{% endif %}/>
  <label for="confirm_yes" class="form-check-label">Send confirmation texts</label>
  {% if textconfirm == "" %}
  <label for="confirm_yes" class="form-check-label"><small>I agree to receive one text message per visit, data rates may apply, reply STOP to opt out, see <a href="/static/privacy.html">privacy policy</a> and <a href="/static/call_to_action.html">more info</a></small></label>
  {% endif %}
    </div>
  <div data-bs-toggle="tooltip" title="Bathers can arrive earlier than the zman tevila, because they generally won't be ready until after the zman. Conversely, bathers can't arrive right up until closing time, because they'd delay it.">
  <div>
  <input name="prep" id="prep_bath" type="radio" value="bath" class="btn-check" autocomplete="off" />
  <label for="prep_bath" class="form-check-label">Bath at the mikvah</label>
  </div>
  <div>
  <input name="prep" id="prep_shower" type="radio" value="shower" class="btn-check" autocomplete="off" />
  <label for="prep_shower" class="form-check-label">Shower at the mikvah</label>
  </div>
  <div>
  <input name="prep" id="prep_home" type="radio" class="btn-check" value="" autocomplete="off" required/>
  <label for="prep_home" class="form-check-label">Prep at home</label>
  </div>
  </div>
  <br/>
  <div class="btn-group-vertical btn-group-lg">
  {% for day in days %}
  <input type=submit name="day" class="btn btn-light m-1" value="{{ day }}" style="min-width: 250px"
   onClick="document.getElementById('prep_home').required = {% if day == 'Friday' %}false{% else %}true{% endif %}"/>
  {% endfor %}
  </div>
</form>
{% include "footer.html" %}
