<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<style>
.my-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
</style>
</head>
{% load static %}
<body style="background-image: url('/static/daisy.svg'); background-size: cover; background-position:center; background-repeat:no-repeat">
<!--<body style="overflow:hidden; position: relative">
<img class="my-bg" src="https://images.rawpixel.com/image_1000/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3ljYmF0bXMxNDI3MS1pbWFnZS5qcGc.jpg"/>
-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" crossorigin="anonymous"></script>
<div class="container">
