{% include "header.html" %}
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{{ debug }}
<h1>Washington Heights Mikvah</h1>
<form method="get" action="times">
  <label for="contact" class="form-label">Contact number (preferably which can receive texts)</label>
  <br/>
  <input class="col-sm-2" name="contact" value="{{contact}}" id="contact" class="form-control"
   pattern=".*[0-9]{3}.*[0-9]{3}.*[0-9]{4}.*" title="Enter a phone number which has at least 10 numeric digits."
   required type="tel" placeholder="XXX-XXX-XXXX" />
  <br/>
  <br/>
  <div data-bs-toggle="tooltip" title="Bathers can arrive earlier than the zman tevila, because they generally won't be ready until after the zman. Conversely, bathers can't arrive right up until closing time, because they'd delay it.">
  <div>
  <input name="prep" id="prep_bath" type="radio" value="bath" class="btn-check" autocomplete="off" />
  <label for="prep_bath" class="form-check-label">Bath at the mikvah</label>
  </div>
  <div>
  <input name="prep" id="prep_shower" type="radio" value="shower" class="btn-check" autocomplete="off" />
  <label for="prep_shower" class="form-check-label">Shower at the mikvah</label>
  </div>
  <div>
  <input name="prep" id="prep_home" type="radio" class="btn-check" value="" autocomplete="off" required/>
  <label for="prep_home" class="form-check-label">Prep at home</label>
  </div>
  </div>
  <br/>
  <div class="btn-group-vertical btn-group-lg">
  {% for day in days %}
  <input type=submit name="day" class="btn btn-light m-1" value="{{ day }}" style="min-width: 250px"
   onClick="document.getElementById('prep_home').required = {% if day == 'Friday' %}false{% else %}true{% endif %}"/>
  {% endfor %}
  </div>
</form>
{% include "footer.html" %}
